(% for consultant in content.team.consultants %)
\begin{frame}{ (( consultant.name | latex_escape )) }
  \accentrule\\[0.3cm]
  \begin{columns}[T]
    (% if consultant.photo %)
    \begin{column}{0.25\textwidth}
      \includegraphics[width=\textwidth, height=3cm, keepaspectratio]{ (( consultant.photo )) }
    \end{column}
    \begin{column}{0.72\textwidth}
    (% else %)
    \begin{column}{\textwidth}
    (% endif %)
      {\bfseries (( consultant.role | latex_escape )) }
      (% if consultant.credentials %)
      \ \textcolor{accent}{ (( consultant.credentials | latex_escape )) }
      (% endif %)
      \\[0.3cm]
      (% if consultant.expertise %)
      \textcolor{accent}{\small\bfseries Expertise}\\
      \begin{itemize}
        (% for e in consultant.expertise %)
        \item \small (( e | latex_escape ))
        (% endfor %)
      \end{itemize}
      (% endif %)
    \end{column}
  \end{columns}
\end{frame}
(% endfor %)

(% if content.team.partners %)
\begin{frame}{Our Partners}
  \accentrule\\[0.4cm]
  \begin{columns}[c]
    (% for partner in content.team.partners %)
    \begin{column}{0.3\textwidth}
      \centering
      (% if partner.logo %)
      \includegraphics[height=1.5cm, keepaspectratio]{ (( partner.logo )) }\\[0.2cm]
      (% endif %)
      {\bfseries (( partner.name | latex_escape )) }\\
      \small (( partner.description | latex_escape ))
    \end{column}
    (% endfor %)
  \end{columns}
\end{frame}
(% endif %)
