\begin{frame}{Next Steps}
  \accentrule\\[0.3cm]
  (% if content.next_steps.intro %)
  (( content.next_steps.intro | latex_escape ))\\[0.4cm]
  (% endif %)
  \begin{columns}[T]
    (% for step in content.next_steps.steps %)
    \begin{column}{0.3\textwidth}
      \textcolor{accent}{\bfseries (( loop.index )). (( step.title | latex_escape )) }\\[0.2cm]
      \small (( step.description | latex_escape ))
    \end{column}
    (% endfor %)
  \end{columns}
\end{frame}
