\documentclass{article}
\begin{document}
((# Title #))
(( document.title | latex_escape ))

((# Content #))
(% for section in content.sections %)
===(( section.title | latex_escape ))===
(( section.content | latex_escape ))
(% endfor %)
\end{document}
